# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Application
*.log
application-local.properties

# Secrets (IMPORTANT!)
.env
.m2/settings.xml
**/application-secret.properties